*{
    font-family:'Segoe UI',Tahoma,Verdana,sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.data{
    letter-spacing: 0.01em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5em;
}
header{
    background-color: #1244E8;
    width: 100%;
    display: flex;
    align-items: center;
}
header div{
    padding: 0.5em 4em 0.5em 1em;
}
header div a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.hero{
    height: 19.5em;
    display: flex;
    justify-content: center;
    gap: 10em;
}
.hero img{
    width: 35%;
    border-radius: 0.6em;
}
.resumen{
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.resumen button{
    margin-top: 3em;
    background-color: rgb(70, 70, 70);
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    border-radius: 0.6em;
    align-self: center;
    width: 50%;
}
.contenido{
    display: flex;
    gap: 3em;
    justify-content: center;
}
.tarjeta{
    border-radius: 0.5em;
    background-color: #0026A3;
    width: 23%;
    text-align: center;
    color: white;
}
.tarjeta img{
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.tarjeta h3{
    margin-top: 0.5em;
}
.tarjeta p{
    margin: 1.5em;
}
.cta{
    background-color: black;
    color: white;
    display: flex;
    gap: 10em;
    align-items: center;
    justify-content: center;
}
.cta img{
    width: 35%;
    margin: 2em 0;
    border-radius: 0.5em;
}
.info{
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.info button{
    margin-top: 3em;
    background-color: rgb(70, 70, 70);
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    border-radius: 0.6em;
    align-self: center;
    width: 50%;
}
.test-contenedor{
    justify-content: center;
    display: flex;
    gap: 10em;
}
.testimonios{
    border: 1px solid rgb(119, 117, 117);
    padding: 1em;
    border-radius: 10px;
    width: 15%;
    text-align: center;
}
.testimonios p{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}
.user-info img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.user-info div{
    text-align: left;
}
.user-info strong{
    display: block;
    font-size: 15px;
    color: #222;
}
.user-info span{
    font-size: 12px;
    color: #666;
}
.faq{
    display: flex;
    flex-direction: column;
    background-color: #0026A3;
    color: white;
    text-align: center;
}
.faq *{
    margin: 1.5em 0;
}
footer{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
}
.redes{
    width: 60%;
    text-align: center;
}
.redes img{
    width: 3em;
    height: 3em;
    margin: 1em;
}
.contacto{
    width: 40%;
}
.copy{
    position: absolute;
    align-self: end;
}

@media(width<600px){
    header div{
        font-size: 12px;
        padding: 1.5em 1em;
    }
    header div img{
        width: 100%;
    }
    .hero{
        margin-top: -3em;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }
    .hero *{
        width: 85%;
        align-self: center;
    }
    .hero img{
        width: 80%;
        align-self: center;
    }
    .resumen button{
        margin-top: 1.5em;
    }
    .data{
        gap: 5em;
    }
    .logo{
        content:url(imgs/logo.png);
    }
    .contenido{
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }
    .tarjeta{
        width: 80%;
    }
    .cta{
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
    .cta img{
        width: 80%;
        margin: 2em 0;
    }
    .info{
        width: 80%;
        flex-direction: column;
    }
    .info button{
        margin-top: 1em;
        width: 70%;
    }
    .test-contenedor{
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .testimonios{
        width: 80%;
    }
    .faq *{
        margin: 1em 1em;
    }
    footer{
        align-items: start;
    }
    .redes{
        width: 50%;
        text-align: center;
    }
    .redes img{
        width: 2em;
        height: 2em;
        margin: 0.5em;
    }
    .contacto{
        width: 50%;
    }
}